<form ng-submit="generateCode(number)">
  <label for="order_number">Order Number</label>
  <input type="text" id="order_number" ng-model="downloadCode.attributes.order_number"/>
  <label for="pattern_id">Pattern</label>
  <select id="pattern_id" ng-model="downloadCode.attributes.pattern_id">
    <option value="{{pattern.get('id')}}" ng-repeat="pattern in patterns">{{pattern.get('name')}}</option>
    <input type="hidden" ng-model="downloadCode.pattern" value="pattern" />
  </select>
  <input type="number" ng-model="number" />
  <button type="submit">Generate code</button>
  </form>
  <div ng-controller="DownloadTabCtrl">
    <tabset>
      <tab ng-repeat="tab in tabs" 
          heading="{{tab.title}}" 
          active="tab.active"
          select="filterDownloads(tab.filter)"
          disabled="tab.disabled">
      </tab>
    </tabset>
  </div>
  <form>
    <input type="text" ng-model="searchTerm"/>
  </form>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Order number</th>
      <th>Status</th>
      <th>Pattern</th>
      <th>Code</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="download in downloadCodes | filter:searchTerm" download="download" code-table-item>
    </tr>
  </tbody>
</table>

