<form action="<%= patterns_url %>" method="post">
  <label for="pattern_name">Name</label>
  <input type="text" name="pattern[name]" id="pattern_name" />
  <label for="pattern_etsy_url">Etsy Url</label>
  <input type="text" name="pattern[etsy_url]" id="pattern_etsy_url" />

  <input type="submit" value="Submit Pattern" />

</form>
