/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require_self
 */
* {
  font-family: 'Lato', sans-serif;
  // border: thin solid black;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  // text-transform: lowercase;
}

// .full-image {
html, body{
  width: 100%;
  height: 100%;
}

body {
  background-image: image-url("flossy_flossy.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.container {
  // background-color: rgba(255,255,255,.25);
}

#title {
  font-family: 'Pacifico', cursive;
  text-transform: lowercase;
  text-align: center;
  font-size: 5em;
  margin-bottom: 30px;
  margin-top: 80px;
  transition: margin-top .75s ease-in;
  -ms-transition: margin-top .75s ease-in;
  -webkit-transition: margin-top .75s ease-in;
}

#title.results {
  margin-top: 20px;
}

form {
  padding: 20px 0;
  margin-bottom: 50px;
}

.large-input {
  border: none;
  border-bottom: 3px solid #666;
  height: 50px;
  opacity: .80;
  background-color: #ddd;
  font-size: 2em;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}


.large-input:focus {
  outline: none;
  opacity: 1;
}

.large-submit {
  background-color: #AAA;
  border: none;
  height: 50px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pattern-show {
  background-color: rgba(255,255,255,.75);
}

.pattern-header {
  text-align: center;
  padding: 40px;
  margin-bottom: 20px;

  a {
    display: block;
    padding: 5px;
  }
}

.filelist {
  list-style: none;
  margin-bottom: 20px;
  padding: 20px;
}


.file-group {
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;

  p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: baseline;
    left: 0;
    transition: right .5s;
    -webkit-transition: right .5s;
    -ms-transition: right .5s;
  }

  // p:hover {
  //   overflow: visible;
  //   left: -10%;
  // }

  // button {
  //   width: 15%;
  //   width: calc(20%-15px);
  //   vertical-align: baseline;
  // }

  span.glyphicon {
    vertical-align: center;
    font-size: 1.25em;
  }
}

.full-page-form {
  width: 500px;
}

footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  background-color: #ddd;
  width: 100%;
}

footer p {
  padding-top: 20px;
  float: right;
}

.container.content {
  padding-bottom: 100px;
}
