/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require_self
 */
$teal: #72C7A7;
$light-teal: #A2E1C9;
$dark-teal: #2D916B;

* {
  font-family: 'Montserrat', sans-serif;
  color: #444;
  // border: thin solid black;
}

a {
  color: $dark-teal;
  font-size: 16px;
  font-weight: 700;
  text-transform: lowercase;
}

nav.navbar.navbar-default{
  border: none;
  border-top: 8px solid $teal;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  color: $teal;
  text-transform: lowercase;
  background: none;
}

.navbar-nav.nav{
  display: block;
  float: none;
  width: 450px;
  margin: 0 auto;
}

.navbar-default .navbar-nav > li > a {
  color: $teal;
  text-align: center;
  width: 150px;
}

.navbar-default .navbar-nav > li > a.active {
  text-decoration: underline;
}

.logo {
  width: 500px;
  max-width: 35%;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

// .full-image {
html, body{
  width: 100%;
  height: 100%;
  display: block;
}

body {
  // background-image: image-url("hoops.jpg");
  // background-size: cover;
  // background-attachment: fixed;
  min-height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

.container {
  // background-color: rgba(255,255,255,.25);
  text-align: center;
}

#title {
  font-family: 'Pacifico', cursive;
  text-transform: lowercase;
  text-align: center;
  font-size: 5em;
  margin-bottom: 30px;
  margin-top: 80px;
  transition: margin-top .75s ease-in;
  -ms-transition: margin-top .75s ease-in;
  -webkit-transition: margin-top .75s ease-in;
}

.subtitle {
  color: #444;
}

#title.results {
  margin-top: 20px;
}

form {
  padding: 20px 0;
}

.mainform {
  margin: 50px 0;
}

.large-input {
  border: none;
  border-bottom: 3px solid $dark-teal;
  opacity: .80;
  color: $dark-teal;
  background-color: $light-teal;
  font-weight: normal;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 18px;
  padding: 30px 40px;
}

.large-input::-webkit-input-placeholder {
  color: $dark-teal;
}

.large-input:-moz-placeholder {
  color: $dark-teal;
}

.large-input::-moz-placeholder {
  color: $dark-teal;
}

.large-input:-ms-input-placeholder {
  color: $dark-teal;
}


.large-input:focus {
  outline: none;
  opacity: 1;
}

.large-submit {
  background-color: $teal;
  color: #fff;
  letter-spacing: 1px;
  border: none;
  padding: 30px 30px 33px;
  font-size: 18px;
  border-radius: 4px;
  &.input-group {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.pattern-show {
  background-color: $light-teal;
  text-align: left;
  border-radius: 4px;
}

.pattern-header {
  text-align: center;
  padding: 40px 15px 5px;
  margin-bottom: 20px;

  a {
    display: block;
    padding: 5px;
  }

  img {
    width: 100%;
  }
}

.filelist {
  list-style: none;
  margin-bottom: 20px;
  padding: 20px;
}


.file-group {
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;

  p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: baseline;
    left: 0;
    transition: right .5s;
    -webkit-transition: right .5s;
    -ms-transition: right .5s;
  }

  // p:hover {
  //   overflow: visible;
  //   left: -10%;
  // }

  // button {
  //   width: 15%;
  //   width: calc(20%-15px);
  //   vertical-align: baseline;
  // }

  span.glyphicon {
    vertical-align: center;
    font-size: 1.25em;
  }
}

.full-page-form {
  width: 500px;
}

footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  background-color: #ddd;
  width: 100%;
}

footer p {
  padding-top: 20px;
  float: right;
  font-weight: light;
}

footer a {
  color: $dark-teal;
}

.container.content {
  padding-bottom: 100px;
}
