/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require_self
 */
* {
  // border: thin solid black;
}

#title {
  font-family: 'Pacifico', cursive;
  text-transform: lowercase;
  text-align: center;
  font-size: 5em;
  margin-bottom: 30px;
}

form {
  padding: 20px 0;
}

.large-input {
  border: none;
  border-bottom: 3px solid #666;
  height: 50px;
  opacity: .75;
  background-color: #ddd;
}

.large-input:focus {
  outline: none;
  opacity: 1;
}

.large-submit {
  background-color: #AAA;
  border: none;
  height: 50px;
}

.filelist {
  list-style: none;
}
.filelist h4 {
  display: inline-block;
  margin-right: 10px;
}

.filename {
  display: inline-block;
}

.full-page-form {
  width: 500px;
}
